html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, p {
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
body {
    font-family: "Rethink Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #2B2A29;
}
.container {
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
}
.header_top {
    padding: 50px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.menu_list {
   display: flex; 
   color: #0A507A;
   gap: 40px;
}
.header_phone {
   display: flex;
   align-items: center; 
   gap: 10px;
   background-color: #0A507A;
   padding: 10px 20px;
   border-radius: 30px;
   color: white;
}
.title-img {
    margin-bottom: 12px;
    width: 100%;
}
.title-text {
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background: #2B2A29;
    padding: 10px 20px;
    display: inline-block;
}
.header_content {
    display: flex;
    justify-content: space-between;
}
.header_info-list {
    display: flex;
    gap: 18px 10px;
    flex-wrap: wrap;
    max-width: 495px;
}
.header_info-item {
    padding: 10px 20px;
    color: #0A507A;
    border: 1px solid #0A507A;
    border-radius: 30px;
    font-size: 26px;
    font-weight: 700;
}
.header_social-list {
    display: flex;
    gap: 20px;
}
.header_news-box {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
}
.header_news-title, .header_news-time {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}
.header_news-time {
    margin-bottom: 10px;
} 
.header_news-link {
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 30px;
    align-self: flex-start;
}